[gcode_macro _MMU_VENT_EXHAUST]
description: Simple reference MMU enclosure venting control

gcode:
    # GATES param can generally be ignored unless MMU design has individual spool enclosures that can operate independently
    {% set gates = (params.GATES | default('')).split(',') | map('trim') | list %}

    {% if gates == [''] %}

        MMU_LOG MSG="Opening MMU vent..."
        SET_FAN_SPEED FAN=exhaust_fan SPEED=1
        SET_SERVO SERVO=exhaust ANGLE=150
        

    {% else %}

        MMU_LOG MSG="Opening MMU vent to dry filaments in gates: {", ".join(gates)}..."
        {% for gate in range(gate) %}
            # Open vent servo_{gate}
        {% endfor %}

    {% endif %}


    # Close the vent after 2 minutes
    UPDATE_DELAYED_GCODE ID=_MMU_VENT_EXHAUST_CLOSE DURATION=240


[delayed_gcode _MMU_VENT_EXHAUST_CLOSE]
initial_duration: 2.0
gcode:
    MMU_LOG MSG="Closing MMU vent..."
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    SET_SERVO SERVO=exhaust ANGLE=0

