########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022-2026  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type unknown
#
[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_57002C000E50414354393020-if00	# Change to `canbus_uuid: 1234567890` for CANbus setups

# If using proportional sync-feedback sensor (like FPS), define mcu connection here
#[mcu fps]
#canbus_uuid:  
#canbus_interface: can0


# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu # Assumes using an external / extra mcu dedicated to MMU
aliases:
   MMU_GEAR_UART=PB2, 
    MMU_GEAR_STEP=PD10,
    MMU_GEAR_DIR=PD11,
    MMU_GEAR_ENABLE=PD9,
    MMU_GEAR_DIAG=PE15,

    MMU_GEAR_UART_1=PD13,
    MMU_GEAR_STEP_1=PD14,
    MMU_GEAR_DIR_1=PD15,
    MMU_GEAR_ENABLE_1=PA13,
    MMU_GEAR_DIAG_1=PD12,

    MMU_GEAR_UART_2=PC14,
    MMU_GEAR_STEP_2=PE6,
    MMU_GEAR_DIR_2=PE5,
    MMU_GEAR_ENABLE_2=PE4,
    MMU_GEAR_DIAG_2=PC15,

    MMU_GEAR_UART_3=PA14,
    MMU_GEAR_STEP_3=PC13,
    MMU_GEAR_DIR_3=PA15,
    MMU_GEAR_ENABLE_3=PC10,
    MMU_GEAR_DIAG_3=PE3,

    MMU_GEAR_UART_4=PD2,
    MMU_GEAR_STEP_4=PD3,
    MMU_GEAR_DIR_4=PD4,
    MMU_GEAR_ENABLE_4=PC11,
    MMU_GEAR_DIAG_4=PC2,

    MMU_SEL_UART=,
    MMU_SEL_STEP=,
    MMU_SEL_DIR=,
    MMU_SEL_ENABLE=,
    MMU_SEL_DIAG=,
    MMU_SEL_ENDSTOP=,
    MMU_SEL_SERVO=,

    MMU_ENCODER=PA5,
    MMU_GATE_SENSOR=PA6,
    MMU_NEOPIXEL=PA2,

    MMU_PRE_GATE_0=PE11,
    MMU_PRE_GATE_1=PB1,
    MMU_PRE_GATE_2=PA0,
    MMU_PRE_GATE_3=PA4,
    MMU_PRE_GATE_4=PE8,
    MMU_PRE_GATE_5=,
    MMU_PRE_GATE_6=,
    MMU_PRE_GATE_7=,
    MMU_PRE_GATE_8=,
    MMU_PRE_GATE_9=,
    MMU_PRE_GATE_10=,
    MMU_PRE_GATE_11=,

    MMU_POST_GEAR_0=PE10,
    MMU_POST_GEAR_1=PE7,
    MMU_POST_GEAR_2=PA1,
    MMU_POST_GEAR_3=PA3,
    MMU_POST_GEAR_4=PE9,
    MMU_POST_GEAR_5=,
    MMU_POST_GEAR_6=,
    MMU_POST_GEAR_7=,
    MMU_POST_GEAR_8=,
    MMU_POST_GEAR_9=,
    MMU_POST_GEAR_10=,
    MMU_POST_GEAR_11=,

    MMU_EJECT_BT_0=PB14,
    MMU_EJECT_BT_1=PB12,
    MMU_EJECT_BT_2=PD8,
    MMU_EJECT_BT_3=PE14,
    MMU_EJECT_BT_4=PE12,

    MMU_SFT=PC5,
    MMU_SFC=PA7,
    MMU_PSF=PC2,

    MMU_HEATER_0=PC6,
    MMU_HEATER_1=PC7,
    MMU_HEATER_2=PC8,
    MMU_HEATER_3=PA9,
    MMU_HEATER_4=PA10,

    MMU_TH_0=PC0,
    MMU_TH_1=PC1,
    MMU_TH_2=,
    MMU_TH_3=PC3,
    MMU_TH_4=PC4,

    MMU_FAN_0=PB3,
    MMU_FAN_1=PB4,
    MMU_FAN_2=PB8,
    MMU_FAN_3=PB9,
    MMU_FAN_4=PB5,

    MMU_I2C0_SCL=PB6,
    MMU_I2C0_SDA=PB7,
    MMU_I2C1_SCL=PA8,
    MMU_I2C1_SDA=PC9,

    MMU_EXH_SERVO=PB0,
    MMU_SW_LID=PE12,


    
[temperature_sensor MMU]
sensor_type: temperature_mcu
sensor_mcu: mmu
